/* Warna dasar website */
body {
    background: #0b0c10;
    color: #e6e6e6;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header elegan */
header {
    text-align: center;
    padding: 40px 20px;
    background: #111217;
    border-bottom: 2px solid #d4af37;
}

header h1 {
    font-size: 32px;
    color: #d4af37;
    margin-bottom: 10px;
}

header p {
    color: #cfcfcf;
    font-size: 16px;
}

/* Layout card mobil */
.mobil-list {
    padding: 30px;
    display: grid;
    gap: 25px;
    max-width: 700px;
    margin: auto;
}

/* Card styling + animasi bor*
